In [2]:
import pandas as pd
import numpy as np
import re

In [4]:
file_path = r"C:\Users\DELL 5590\codes\football_manager\tonbridge_angels\squad_aug_2024.html"

In [5]:
df = pd.read_html(file_path)[0]

In [22]:
def wages_str_to_num(input_str: str) -> int:
    """
    Extracting the Wage from string.
    eg. "Â£400 p/w" -> 400.0
    """
    if input_str is np.NaN:
        return 0

    match = re.search(r'\d+(\.\d+)?', input_str)

    if match:
        number = match.group()
        return number
    return input_str

In [23]:
df['Wage'].apply(wages_str_to_num)

0     400
1     475
2     400
3     550
4     800
5     425
6     650
7     800
8       0
9     575
10      0
11      0
12    650
13    375
14      0
15    375
16    375
17    475
18      0
19    190
Name: Wage, dtype: object

[{'name': 'Reice Charles-Cook', 'wage': 'Â£400 p/w'},
 {'name': 'Jamie Fielding', 'wage': 'Â£475 p/w'},
 {'name': 'Jake Goodman', 'wage': 'Â£400 p/w'},
 {'name': 'Joash Nembhard', 'wage': 'Â£550 p/w'},
 {'name': 'Ben Brookes', 'wage': 'Â£800 p/w'},
 {'name': 'Sam Blackman', 'wage': 'Â£425 p/w'},
 {'name': 'Lewis Gard', 'wage': 'Â£650 p/w'},
 {'name': 'Toby Edser', 'wage': 'Â£800 p/w'},
 {'name': 'Francis Mampolo', 'wage': nan},
 {'name': 'Joe Turner', 'wage': 'Â£575 p/w'},
 {'name': 'Ronan Ismali', 'wage': nan},
 {'name': 'Sean Shields', 'wage': nan},
 {'name': 'Jaydn Mundle-Smith', 'wage': 'Â£650 p/w'},
 {'name': 'Arjanit Krasniqi', 'wage': 'Â£375 p/w'},
 {'name': 'Li Alex', 'wage': nan},
 {'name': 'Miles Mitchell-Nelson', 'wage': 'Â£375 p/w'},
 {'name': 'Jonny Henly', 'wage': 'Â£375 p/w'},
 {'name': 'Ansu Janneh', 'wage': 'Â£475 p/w'},
 {'name': 'Paris Lock', 'wage': nan},
 {'name': 'Matthew Laycock', 'wage': 'Â£190 p/w'}]