In [2]:
import pandas as pd
import numpy as np
import re

In [4]:
file_path = r"C:\Users\DELL 5590\codes\football_manager\tonbridge_angels\squad_aug_2024.html"

In [5]:
df = pd.read_html(file_path)[0]

In [19]:
def wages_str_to_num(input_str: str) -> int:
    """
    Extracting the Wage from string.
    eg. "Â£400 p/w" -> 400.0
    """
    if input_str is np.NaN:
        return

    match = re.search(r'\d+(\.\d+)?', input_str)

    if match:
        number = match.group()
        return number
    return input_str

In [21]:
df['Wage']

0     Â£400 p/w
1     Â£475 p/w
2     Â£400 p/w
3     Â£550 p/w
4     Â£800 p/w
5     Â£425 p/w
6     Â£650 p/w
7     Â£800 p/w
8           NaN
9     Â£575 p/w
10          NaN
11          NaN
12    Â£650 p/w
13    Â£375 p/w
14          NaN
15    Â£375 p/w
16    Â£375 p/w
17    Â£475 p/w
18          NaN
19    Â£190 p/w
Name: Wage, dtype: object